.App {
  display: flex;
  justify-content: center;
  background-color: gold;
}
.tags {
  display: flex;
  align-items: center;
}
.cars{
  height: 100px;
  width: 150px;
  border: 1px solid black;
  margin: 25px;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.cars p {
  display: flex;
  align-items: center;
}

.close {
  margin-left: auto;
}